h1 {
    color: #f0ff90;
}

h2{
    color: #9703f3;
}

/* Estilizando a tabela */
table {
    background-color: #ffffcc68;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px; /* Ajuste conforme necessário */
    margin-left: auto; /* Centraliza a tabela horizontalmente */
    margin-right: auto; /* Centraliza a tabela horizontalmente */

}

/* Estilizando as células da tabela */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
td img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da célula */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito */
}

/* Aplica um aumento de tamanho ao passar o mouse na imagem */
td img:hover {
    transform: scale(12.2); /* Ajuste o valor conforme necessário para o aumento desejado */
}
/* Estilizando as imagens */
img {
    max-width: 90%; /* Defina o tamanho máximo da largura conforme necessário */
    max-height: 150px; /* Defina o tamanho máximo da altura conforme necessário */
    display: block; /* Evita espaços extras abaixo das imagens */
    margin: auto; /* Centraliza as imagens */
}

body {
    background-color: #fbefa46d; /* Cor de fundo */
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-gradiente-de-ceu-pastel_23-2148898336.jpg?w=1380&t=st=1705422981~exp=1705423581~hmac=6adbac29d6b126c19b415fa7bcb5a8c53e46272c36bde07c3ecf577b514ea734); /* Imagem de fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir a tela */
    font-family:'Georgia', serif; /* Substitua 'Arial' pela fonte desejada */
}

h1, h2, h3, p, label, th, td {
    font-family: 'Inconsolata', monospace;
}


button {
    background-color: #e51a5799;
    color: rgba(255, 255, 255, 0.623);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}